.activeServices-container {
  h2 {
    position: relative;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    bottom: 30px;
  }

  h2.no-service {
    margin-top: 200px;
    margin-left: 140px;
    color: #3cb2cc;
  }

  .servicesList {
    position: relative;
    box-shadow: 10px 5px 5px gray;
    background-color: white;
    border-radius: 20px 0 0 20px;
    overflow-y: scroll;
    height: 45vh;
    width: 830px;
    margin-right: 30px;
    bottom: 15px;

    /* width */
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    li {
      border-bottom: 1px solid #b9b2b2;
      display: flex;
      margin-top: 10px;

      span {
        color: black;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
          Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }

      p {
        color: #3cb2cc;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
          Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        padding-top: 15px;
        margin: 0 50px 0 25px;
      }

      .service-buttons {
        margin-left: 60px;
        button {
          margin: 0 20px 0 20px;
        }

        .button-deleteService {
          cursor: pointer;
          position: relative;
          color: red;
          background-color: #e6e6e6;
          padding: 10px 20px 10px 20px;
          border: none;
          border-radius: 5px;
          font-weight: bold;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
            Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          margin-bottom: 10px;
          align-self: flex-end;
        }

        .button-deleteService:hover {
          box-shadow: 10px 5px 5px grey;
        }

        .button-viewDetails {
          cursor: pointer;
          background-color: #eed918;
          border: none;
          border-radius: 5px;
          padding: 10px 20px 10px 20px;
          font-weight: bold;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
            Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          margin-bottom: 10px;
        }

        .button-viewDetails:hover {
          box-shadow: 10px 5px 5px grey;
        }
      }
    }
  }
}

.modalNewServiceContainer {
  color: black;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  padding-bottom: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  .sr-only {
    display: none;
  }
  
  .close{
    border: none;
    background-color: #FFFFFF;
    font-size: 28px;
  }
  
  .new-service-modal-container {
    display: flex;
    flex-direction: column;
  }
  
  p {
    font-size: 30px;
    justify-content: center;
    display: flex;
  }
  
  label {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  input {
    border: none;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    border-bottom: 1px solid grey;
  }
  
  .buttonRegisterService {
    margin-top: 15px;
    padding: 20px;
    width: 100%;
    align-self: center;
    font-size: 22px;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    background-color: #eed918;
    transition: box-shadow 0.2s ease-in-out;
  
    &:hover {
    box-shadow: 2px 2px 2px grey;
    cursor: pointer;
    }
  }
}

@media (max-width: 1200px) {
  .activeServices-container {
    margin-top: 20px;
    padding: 10px;

    .button-container {
      margin-bottom: 20px;
    }

    .servicesList {
      background-color: white;
      padding: 15px;
    }
  }
}
