.CTAButtons {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: 50px;
}

.modals {
  display: flex;
  justify-content: center;
}

.closeModal {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: red;
  position: relative;
  top: -150px;
  left: 7%;
  display: none;
  z-index: 99999999999;
  transition: 0.2s ease-in-out;

  &:hover {
    text-shadow: 1px 1px 1px grey;
    cursor: pointer;
  }

  &.show {
    display: flex;
  }
}

@media (max-width: 1200px) {
  .CTAButtons {
    margin-right: 20px;
    margin-top: -100px;
  }

  .closeModal {
    top: -30px;
    left: 150px;
  }
}
